<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="robots" content="noindex, nofollow" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.min.css">
<meta name="description" content="TEST. Test for Laptop Digital.">
<meta property="og:title" content="TEST">
<meta property="og:description" content="TEST. Test for Laptop Digital.">
<meta property="og:site_name" content="TEST.com">
<meta property="og:type" content="website">
<meta property="og:url" content="https://test.com">
<meta property="og:image" content="url">
<meta name="twitter:title" content="Test for Laptop Digital">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@WordPress">
<meta name="twitter:image" content="url">